
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.features-gen
allure-results
allure-report
cucumber-report
multiple-cucumber-html-reporter